<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="resource">
                <input type="number" name="data.hp.value" value="{{data.data.str}}"/>
                <span> / </span>
                <input type="number" name="data.hp.max" value="{{data.data.hp.max}}"/>
            </div>
            <div class="resource">
                <input type="number" name="data.aura.value" value="{{data.aura.value}}"/>
                <span> / </span>
                <input type="number" name="data.aura.max" value="{{data.aura.max}}"/>
            </div>
        </div>
    </header>
    <div>
        <table>
            <tr>
                <th> {{localize "incarnos.abilities.str"}}</th>
                <th> {{localize "incarnos.abilities.dex"}}</th>
                <th> {{localize "incarnos.abilities.con"}}</th>
                <th> {{localize "incarnos.abilities.int"}}</th>
                <th> {{localize "incarnos.abilities.wis"}}</th>
                <th> {{localize "incarnos.abilities.cha"}}</th>
                <th> {{localize "incarnos.abilities.spd"}}</th>
                <th> {{localize "incarnos.abilities.prc"}}</th>
            </tr>
        </table>
        <textarea name="data.description">{{data.description}}</textarea>
    </div>
</form>